{% extends "bootstrap/base.html" %}

{% block title %}VCU Course Override{% endblock %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='static/vcu.jpg') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='static/vcu.jpg') }}" type="image/x-icon">
{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" style="background-color: gold" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
            </button>
            <a class="navbar-brand" style="font-weight: bold; font-size: x-large; color: black" href="/">VCU Course Override Form</a>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    {% block page_content %}{% endblock %}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}